<!-- templates/pages/analyze.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Analyze File</title>
</head>
<body>
    <h1>File Analysis</h1>
    <p>File Path: {{ path }}</p>
    <p>Data Shape <br> Number of Rows, Columns: {{ csv_data_shape }}</p>

    <h2>Data Types for Each Column:</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Column</th>
                <th>Data Type</th>
            </tr>
        </thead>
        <tbody>
            {% for column, data_type in data_types.items %}
                <tr>
                    <td>{{ column }}</td>
                    <td>{{ data_type }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
