<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>keyline</title>
</head>
<body>
    <form  method="post">
        {% csrf_token %}
        <label for="table_name">Table Name: </label>
        <input type="text" name="{{data_file_upload}}" id="">
        <label for="table_name">Choose File </label>
        <input type="file" name="{{file_upload}}" id="">
        <input type="submit" value="Upload">
    </form>
    {% if table_name %}
    <div class="success-message">
        <p>File uploaded successfully for table: {{ table_name }}</p>
    {% else %}
    <p>No file chosen</p>
    </div>
{% endif %}
<h1>List of Files</h1>
    <ul>
        {% for file in files %}
            <li>{{ file }}</li>
        {% endfor %}
    </ul>
</body>
</html>