{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <link rel="stylesheet" href="{% static 'css/search-bar.css'%}">
    <link rel="stylesheet" href="{% static 'css/hero.css'%}">
    <link rel="stylesheet" href="{% static 'css/upload.css'%}">
    <link rel="stylesheet" href="{% static 'css/data_preview.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <script src="{% static 'js/search.js' %}" defer></script>
    <script src="{% static 'js/upload.js' %}"></script>
    <title>keyline</title>
</head>
<body>
    <nav class="navbar side_navbar">
        <wrapper class="navbar_container side_nav_container">
            <a href="#" class="navbar_logo">
                <img src="{% static 'images/logo.svg' %}" alt="" />
            </a>
            <a href="#" class='brand_link'>
                <span class="brand_name">keyline</span>
            </a>
            
            <ul class="navbar_links">
                 <li  class="closebar">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                    </a>
                 </li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#contacts">Contact Us</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                
                <li>
                    <a href="#" class="button-outline side_navbar_btn" onClick="alert('You clicked the link!'); return false;">
                        Log In
                    </a>
                </li>
                <li>
                    <a href="#" class="button-primary side_navbar_btn" onClick="alert('You clicked the link!'); return false;">
                        Sign Up
                    </a>
                </li>
            </ul>
            <a href="" class="button-outline navbar_btn_out">
                Log In
            </a>
            <a href="" class="button-primary navbar_btn_out">
                Sign Up
            </a>
            <div class='navbar_menubar'>
                <FaBars />
            </div>
        </wrapper>
    </nav>
    <section class="hero">
        <aside class="sidebar">
            <!--File Upload section on side bar begin-->
            <section class="upload-area">
              <form class="form-container" enctype='multipart/form-data' method="POST">
                {% csrf_token %}
                 {{ form }}
                 <input type="submit" value="Upload">
                </form> 
             </section>
            <!--File Upload section on side bar end-->


          </aside>
          <main class="container">
            {% if data %}
            <h2>Data Preview</h2>
            <div class="search-container">
                <div class="container">
                    <div class="table-name">
                        <span>
                            {{ table_name }}
                        </span>
                    </div>
                    <div class="search-form">
                        <form method="GET">
                            <input autocomplete="off" id="searchInput" type="text" name="search" placeholder="Search" value="{{ search_query }}">
                            <input type="hidden" name="upload_id" value="{{ selected_upload_id }}">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
              </div>
            <div class="data_preview">

              <div class="data-table-container">
                <table id="dataTable">
                    <thead>
                        <tr>
                            {% if data %}
                                {% for column in data.0 %}
                                    <th>{{ column }}</th>
                                {% endfor %}
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if data %}
                        {% for row in data|slice:"1:" %}
                                <tr>
                                    {% for cell in row %}
                                        <td>{{ cell }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
              </div>
            </div>
          {% endif %}
            
            <div class="page-divider">
              <span class="page-number">2</span>
            </div>
            <p>
                <strong>Data Exploration</strong>
                
                    {% if file_path %}
                    <ul>
                        <li>{{ file_path }}</li>
                        <p>Data Shape <br> Number of Rows, Columns: {{ csv_data_shape }}</p>
                    </ul>
                    <h2>Data Types for Each Column:</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Column</th>
                <th>Data Type</th>
            </tr>
        </thead>
        <tbody>
            {% for column, data_type in data_types.items %}
                <tr>
                    <td>{{ column }}</td>
                    <td>{{ data_type }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
                    {% else %}
                    <p>There's not path to show</p>
                    {% endif %}
             
            </p>

            <!--THE GRAPH SHOWS HERE-->
            
            <!--THE GRAPH SHOW ENDS HERE-->
             
          </main>
          <div class="third-column">
            <p class="upload-list-label">Uploaded Data Tables</p>
            <ul class="home-list">
              {% for file in files %}
                  <li>
                      <a href="?upload_id={{ file.id }}">{{ file.name }}</a>
                      <a href="{% url 'analyze-file' file.id %}" class="analyze-link" style="visibility: hidden;">View Statistics</a>
                  </li>
              {% endfor %}
            </ul>
          </div>
    </section>
</body>
</html>