<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>keyline</title>
</head>
<body>
    <form  method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Upload">
    </form>
    
    {% if table_name %}
    <div class="success-message">
        <p>File uploaded successfully for table: {{ table_name }}</p>
    {% else %}
    <p>No file chosen</p>
    </div>
{% endif %}
<h1>List of Files</h1>
    <ul>
        {% for file in files %}
            <a href="">{{ file }}</a>
        {% endfor %}
    </ul>
</body>
</html>