<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>keyline</title>
</head>
<body>
    <form  method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Upload">
    </form>
    
    {% if table_name %}
    <div class="success-message">
        <p>File uploaded successfully for table: {{ table_name }}</p>
    {% else %}
    <p>No file chosen</p>
    </div>
{% endif %}


    <h1>CSV Data for {{ table_name }}</h1>
    {% if success %}
    <p>{{ succ }}</p>
{% endif %}

<h2>Uploaded Files</h2>

<ul>
    {% for file in files %}
        <li>
            <a href="?upload_id={{ file.id }}">{{ file.name }}</a>
        </li>
    {% endfor %}
</ul>

{% if data %}
    <h2>File Contents</h2>
    <table border="1">
        {% for row in data %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No table to show</p>
{% endif %}
</body>
</html>