/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

*{
    text-decoration: none;
}

/*MY CODE*/
/*MOBILE FIRST*/
/*HEADER*/

:root {
    --primary-color: #111;
    --font-family: "Catamaran";
    --border-radius: 4px;
}
body {
    background-color: #fff;
}
li {
    list-style-type: none;
    text-decoration: none;
}
header {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
    position: fixed;
    z-index: 1;
}
header img {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 17px;
}
header .menu-bar, img, .logo {
    line-height: 60px;
}

header .logo {
    font-family: "LXGW WenKai Mono TC";
    font-size: 25px;
    color: var(--primary-color);
    font-weight: 600;
}

header .menu-bar {
    position: absolute;
    right: 20px;
    top: 5px;
}

header ul {
    top: 0;
    position: fixed;
    right: 0%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 999;
    animation: navMotion 0.5s ease;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 50%; 
    height: auto;
    align-items: stretch;
    margin: 0;
    border: solid 1px #dadada;
    font-family: var(--font-family);
    font-size: 25px;
    font-weight: 350;
    padding: 15px;
}
header ul.show {
    display: flex; /* Change display property to show the menu */
  }
  
header ul li a{
    display: block;
    widows: 100%;
    padding: 10px 10px 10px 10px;
    color: #222;
    text-align: left;
    &:hover {
        background-color: rgba(0, 0, 0, 0.25);
    }
}

.auth-links {
    display: none;
}

.closebar {
    display: block;
}

@keyframes navMotion {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
  
/*MOBILE MAIN CONTAINER*/
main {
    padding: 60px 0 0 0;
    display: flex !important;
    flex-direction: row;
    position: relative;
    width: 98vw;
    justify-content: center;
}
main div {
    height: calc( 100vh - 90px);
    border: 1px solid var(--primary-color);
    background-color: #fff;
}

@keyframes moveMotion {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

/*MAIN CONTAINER MOBILE VIEW*/

/*MAIN CONTAINER MOBILE VIEW END*/



  /*DESKTOP VIEW*/
@media screen and (min-width: 900px) {

    header img {
        width: 60px;
        height: 60px;
    }
    header .menu-bar {
        right: 30px;
    }
    
    header ul {
        top: 0;
        left: 22%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        z-index: 0;
        line-height: 10px;
        align-items: stretch;
        margin: 0;
        border: none;
        font-family: var(--font-family);
        font-size: 18px;
        font-weight: 300;
        padding: 15px;
        }

    .menu-bar {
        display: none;
    } 
    .closebar {
        display: none;
    }
    .auth-links {
        display: flex;
        position: absolute;
        right: 20px;
        margin-top: 10px;
    }
    .auth-links a {
        border: none;
        margin-right: 10px;
        border-radius: 4px;
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        background-color: var(--primary-color);
        padding: 8px;
    } 

    .auth-links a span {
        padding: 10px;
    } 
    .auth-links a:hover {
        background-color: rgba(0, 0, 0, 0.25);
        color: var(--primary-color);
    }
      .auth-links a:last-child {
        margin-right: 0;
      }
      
    /**MAIN CONTAINER DEKTOP STYLES*/

    .left-sidebar, .middle-bar {
        border: none;
    }
    .middle-bar {
        position: absolute;
        right: 0%;
    }
    .left-sidebar {
        background-color: #fff;
        box-shadow: 6px 10px 10px 5px rgba(0,0,0,0.1);
        margin-top: 10px;
        margin-left: 10px !important;
        border-right: 1px solid #cccccc;
        width: 22vw;
        position: fixed;
        left: 0%;
        }
    .left-sidebar span {
        font-size: 15px;
        font-family: var(--font-family);
        font-weight: 800;
        text-align: center;
        line-height: 40px;
        padding-left: 20%;
    }
    .left-sidebar form {
        padding-left: 10px;
        background-color: #fff;
    }
    .left-sidebar label {
        font-size: 15px;
        font-family: var(--font-family);
        font-weight: 400;
    }
    .left-sidebar input {
        height: 30px;
        border-radius: var(--border-radius);
        outline: var(--primary-color);
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.25);
        color: var(--primary-color);
        font-size: 15px;
        font-family: var(--font-family);
        font-weight: 500;
    }
    .upload-name{
        border: 1px solid var(--primary-color);
        margin: 10px 0;
        width: 90%;
    }

    .input[type="text"] {
        padding-left: 10px;
        color: #fff;
    }
    
    .upload-file-select {
        width: 91%;
        border: none;
        margin-bottom: 10px;
        line-height: 32px;
    }
    .upload-button {
        width: 40%;
        padding: 10 0 12px 10px;
        font: 1em sans-serif;
        border: 1px solid var(--primary-color);
        cursor: pointer;
        font-size: 25px;
        font-family: var(--font-family);
        font-weight: 800;
        line-height: 20px;
    }
    .left-sidebar ul {
        padding: 20px;
    }
    .left-sidebar ul li a{
        text-decoration: none;
        font-size: 15px;
        font-family: var(--font-family);
        font-weight: 600;
    }
    .search-form-container {
        width: calc(100% - 20px);
        display: flex;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .search-form-container span {
        padding: 10px;
        background: var(--primary-color);
        height: 25px;
        width: 20%;
        font-size: 15px;
        font-family: var(--font-family);
        font-weight: 500;
        border-radius: 4px 0 0 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #fff;
        line-height: 28px;
    }
    .search-form-container form {
        padding: 5px;
        background: #979797;
        border: none;
        width: 75%;
        border-radius: 0 4px 4px 0;
        border: 1px solid var(--primary-color);
    }
    .search-form-container input {
        width: calc(100% - 10px);
        line-height: 31px;
        background: #979797;
        border: none;
        outline: none;
        font-size: 15px;
        font-family: var(--font-family);
        font-weight: 500;
    }
    .search-form-container input::placeholder {
        color: #fff;
    }
    input[type="text"] {
        padding-left: 10px;
        color: var(--primary-color);
    }

    
    .side-icon {
        display: none;
      }
    .table-container{
        width: 100%;
        height: 40vh;
        overflow-x: auto scroll;
        overflow-y: auto scroll;
    }
    .table {
        width: calc(100% - 35px);
        border-collapse: collapse;
        align-items: flex-start;
        height: 40vh;
        padding: 5px;
        margin-left: 10px;
        border: none;
    }
    table th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        min-width: 11vw; /* Minimum width for each cell */
        width: auto; /* Allow cells to resize based on content */
        max-width: 150px;
    }
    .table thead {
        font-family: "Catamaran";
        font-size: 14px;
        font-weight: 800;
    }
    .table tbody {
        font-family: "Catamaran";
        font-size: 14px;
        font-weight: 400;
    }
    th {
        background-color: #f2f2f2;
    }

    /*Data Exploration*/
    .data-exploration {
        height: 35vh;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .data-exploration .col1,
        .data-exploration .col2 {
            flex: 1; /* Makes both columns take up equal space */
            border: none; /* Optional: adds a border for visibility */
            height: 100%;
            padding: 10px; /* Optional: adds padding inside the columns */
        }
    .data-exploration span {
        font-family: var(--font-family);
        font-size: 14px;
        font-weight: 800;
        margin: 10px !important;
    }
    .data-exploration ul {
        padding: 10px;
    }
    .data-exploration ul li {
        padding: 6px;
    }
    .data-exploration .col1 {
        border-right: 1px solid #cccccc;
    }
    .data-exploration .col2 {
        overflow-x: auto scroll;
    }
    .data-exploration table {
        width: 100%;
        table-layout: auto; /* Allow table to adjust based on content */
        border-collapse: collapse;
    }
    .data-exploration th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
}