*{
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-bg-color: #fff;
    --secondary-bg-color: #c5c5c5;
    --font-family: "Catamaran";
  }
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/*NAVIGATION SECTION -- MOBILE VIEW FIST DESIGN*/
.nav-section{
    height: 50px;
    background-color: var(--main-bg-color);
    position: sticky;
    top: 0%;
}
header {
    display: flex;
    width: 100%;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
    padding-left: 17px;
    padding-right: 17px;
    z-index: 1;
}
header img {
    width: 50px;
    height: 50px;
}
header .menu-bar, img, .logo {
    line-height: 50px;
}

header .logo {
    font-family: "LXGW WenKai Mono TC";
    font-size: 25px;
    color: var(--primary-color);
    font-weight: 600;
    font-family: var(--font-family);
}

header .menu-bar {
    position: absolute;
    right: 20px;
    top: 5px;
}

header ul {
    top: 0;
    position: fixed;
    right: 0%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 999;
    animation: navMotion 0.5s ease;
    background-color: var(--main-bg-color);
    box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 50%; 
    height: 50px;
    align-items: stretch;
    margin: 0;
    border: solid 1px #dadada;
    font-family: var(--font-family);
    font-size: 25px;
    font-weight: 350;
    padding: 15px;
}
header ul.show {
    display: flex; /* Change display property to show the menu */
  }
  
header ul li a{
    display: block;
    widows: 100%;
    padding: 10px 10px 10px 10px;
    color: #222;
    text-align: left;
    transition: background-color 300ms ease-in-out;
    border-radius: 4px;
    &:hover {
        background-color: #747070;
    }
}

.auth-links {
    display: none;
}

.closebar {
    display: block;
}
.dropdown-auth-links {
    display: show;
  }

@keyframes navMotion {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes moveMotion {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

/*MAIN CONTAINER MOBILE VIEW END*/

@media screen and (min-width: 900px) {

    header img {
        width: 50px;
        height: 50px;
    }
    header .menu-bar {
        right: 30px;
    }
    
    header ul {
        top: 0;
        left: 22.5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        line-height: 10px;
        align-items: stretch;
        margin: 0;
        border: none;
        font-family: var(--font-family);
        font-size: 18px;
        font-weight: 300;
        padding: 15px;
        }

    .menu-bar {
        display: none;
    } 
    .closebar {
        display: none;
    }
    .auth-links {
        display: flex; 
        position: absolute;
        right: 20px;
        margin-top: 10px;
    }
    .auth-links a {
        border: none;
        margin-right: 10px;
        border-radius: 4px;
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: 400;
        color: #111;
        background-color: var(--main-bg-color);
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 8px;
        padding-right: 8px;
        transition: background-color 300ms ease-in-out;
    } 

    .auth-links a span {
        padding: 10px;
    } 
    .auth-links a:hover {
        background-color: #747070;
        color: var(--primary-color);
    }
      .auth-links a:last-child {
        margin-right: 0;
      }
      .dropdown-auth-links {
        display: none;
      }
}

/*NAVIGATION SECTION*/



.branding{
    flex: 0.25;
    margin-left: 20px;
}
.menu-items{
    flex: 0.5;
} .account-options{
    flex: 0.25;
    margin-left: 20px;
}
.branding img{
    height: 50px;
    width: 50px;
}
.branding span{
    position: absolute;
    top: 18%;
    font-size: 30px;
    font-weight: 600;
}
.menu-items ul{
    display: flex;
    flex-direction: row;
    line-height: 30px;
}
.menu-items ul li{
    padding: 10px;
}
.account-options ul{
    display: flex;
    flex-direction: row;
    line-height: 20px;
}
.account-options ul li{
    padding: 15px;
}
/*End of NavBar*/
.flex{
    display: flex;
    flex-direction: row;
    max-width: calc(100vw - 10px);
    max-height: calc(100vh-50px);
}

.flex1{
    max-height: calc(100vh - 50px);
    background-color: var(--main-bg-color);
    flex: 0 0 19%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: calc(100vh - 50px);
    max-width: 18vw;
    overflow: hidden;
    font-family: var(--font-family);
}
.upload-area, .data-list-area{
    width: 100%;
}
.upload-area{
    flex: 0.3;
    background-color: var(--secondary-bg-color);
    padding: 10px;
}
.data-list-area{
    flex: 0.7;
    background-color:var(--secondary-bg-color) ;
    padding: 20px;
    max-height: 63vh;
    flex-grow: 1;
}
.table-list-text{
    display: flex;
    flex-direction: column;
}


/*Messanger Area*/
.messaging-area{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    right: 5px;
    width: 20%;
    height: 70vh;
    opacity: 90%;
    font-family: var(--font-family);
    background-color: green;
}
.close-open-area{
    flex: 0.02;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border: solid 1px #111;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    backdrop-filter: blur(4px);
}
.message-form {
    display: none;
    flex: 0.98;
    background-color: var(--secondary-bg-color);
    backdrop-filter: blur(4px);
}
.close-open-area span{
    flex: 0.92;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}
.close-open-area img{
    flex: 0.08;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.message-form form{
    display: flex;/*originally display is set to flex*/
    flex-direction: column;
    margin: 10px;
}
.message-form input{
    padding: 5px;
    vertical-align: top !important;
    white-space: pre-wrap;
    text-align: left;
    overflow-y: auto;
}
.message-form .name-input, .email-input{
    border-radius: 4px;
    border: none;
}
.message-form form .name-input, .email-input{
    height: 30px;
}
.message-form .message-input{
    height: 200px;
}


.message-form .send-message-button{
    height: 37px;
    display: flex;
    flex-direction: row;
    border: solid 1px #111;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 4px;
}
.message-form .send-text{
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}
.message-form .send-text span{
    line-height: 37px;
}
.message-form button{
    height: 35px;
}
.submit-arrow{
    fill: #111;
}


/*Messanger Area Styles End*/



/*Upload Table Area*/
.upload-form {
    display: flex;
    flex-direction: row;
    padding-right: 15px;
}
.upload-form form input{
    width: 100%;
    height: 20px;
    border-radius: 4px;
    border: none;
    margin: 8px;
    outline: none;
}

/*Upload Table Area*/


/*Table List Area*/
.table-list{
    width: 100%;
    height: 90%;
    border: 1px solid #000;
    flex-shrink: 0;
    overflow: hidden;
}
.table-list ul{
    max-height: 100%;
    overflow: auto;
}
.data-list-area ul li{
    padding: 3px;
}
/*Table List Area End*/

/*Data Preview Area*/
.flex2{
    flex: 1;
    max-height: calc(100vh - 80px);
    max-width: 81vw;
    font-family: var(--font-family);
}
.preview-area{
    background-color: var(--main-bg-color);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.search-area, .data-area, .uploader-area{
    min-width: calc(80vw - 10px);
}
.uploader-area{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--main-bg-color);
    flex: 0.1;
    padding: 10px;
    height: 40px;
}
.uploader-area span{
    padding: 10px;
}

.user-profile-picture{
    border: 1px solid black;
    border-radius: 50%;
    height: 37px;
    width: 37px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-profile-picture img{
    max-width: 100%;
    max-height: 100%;
}
.search-area{
    background-color: var(--secondary-bg-color);
    flex: 0.1;
    padding: 5px;
    min-height: 40px;
    width: 100%;
}
.search-area form input{
    height: 30px;
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 4px;
}


.data-area {
    background-color: var(--main-bg-color);
    flex: 0.8; /* Adjust flex basis as needed */
    max-height: calc(100vh - 150px); /* Example height calculation */
    width: calc(100vh - 100px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative; 
    overflow: auto;
}

.data-area table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    border-radius: 4px;
    table-layout: fixed;
    max-height: 100%; /* Limit table height to parent's height */
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* Prevent text wrapping */
    width: 11vw; /* Set cell width to 11vw */
}

.table thead {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 800;
    background-color: #f2f2f2; /* Background color for table header */
}

.table tbody {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
}

/*Data Preview Area End*/

/*Data Analysis Section*/
.data-analysis-section{
    width: calc(100vw - 30px);
    height: calc(100vh - 50px);
    margin-left: auto;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    font-family: var(--font-family);
    font-size: 14px;
}
.data-graph, .data-characteristics{
    padding: 10px;
    flex: 1;
}
.data-characteristics {
    width: 50vw;
    background-color: var(--main-bg-color);
}
.data-characteristics-container{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.data-characteristics-container-table{
    min-width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 4px;
    text-align: left;
}
.data-characteristics-container span{
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
}
.data-characteristics-container td {
    padding: 2px 5px; /* Reduce padding */
    height: 20px; /* Set a fixed height if necessary */
}


.data-visuals{
    width: 50vw;
    background-color: var(--secondary-bg-color);
}
.visuals-text, .graph-options{
    background-color: var(--main-bg-color);
    height: 30px;
    width:calc(100% - 20px);
    padding: 10px;
    margin: 0 auto;
    border-radius: 4px;
}
.graph-options{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.graph-options span{
    display: flex;
    justify-content: flex-start;
}
.graph-options a{
    display: flex;
    justify-content: flex-start;
}
.graph{
    width: 90%;
    margin: 0 auto;
    height: auto;
}


.form-select{
    margin-top: 10px;
}
.select-submit-button{
    margin-top: 5px;
    border-radius: 4px;
    border: none;
    padding: 5px;
    cursor: pointer !important;
    transition: background-color 400ms ease-in-out;
}
.select-submit-button:hover{
    background-color: #747070;
}
.form-select{
    max-height: 150px;
    padding: 5px;
    border-radius: 4px;
    overflow-y: auto;
}


/*Data Analysis Section*/


/*MOBILE VIEW*/
@media screen and (max-width: 900px) {
    .flex {
        display: flex;
        flex-direction: column;
    }
    .flex1, .flex2{
        min-width: 90vw;
        margin: auto;
    }
    .search-area{
        max-width: 90vw;
        margin: auto;
    }
    .search-area form input{
        height: 30px;
        max-width: 100% !important;
    }
    .data-analysis-section{
        display: flex;
        flex-direction: column;
    }
    .data-characteristics, .data-graph{
        min-width: 90vw;
        margin: auto;
    }
    .graph{
        min-width: calc(90vw - 10px);
        margin: auto;
    }
    .messaging-area{
        min-width: 80vw;
        height: 70vh;
    }
}


:root {
    --c: #999;
    --d: rgba(153, 153, 153, 0.55);
    --t: rgba(153, 153, 153, 0.25);
  }
  
  .items {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    position: absolute;
    bottom: 0;
    left: 50vw;
  }
  
  .item {
    width: 150px;
    height: 150px;
    border: none;
    position: relative;
  }
  
  .mouse {
    width: 40px;
    height: 60px;
    border-radius: 20px;
    border: 3px solid var(--c);
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 20px);
  }
  
  .mouse::before,
  .mouse::after {
    content: '';
    display: block;
    position: absolute;
  }

  
  /* Fifth */
  .m-4::before,
  .m-4::after {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: 10px;
    left: calc(50% - 3px);
    background: var(--c);
    opacity: 0;
    animation: m-4-ball 1.2s ease-in-out infinite;
  }
  
  .m-4::after {
    animation-delay: 0.6s;
  }
  
  @keyframes m-4-ball {
    50% {
      opacity: 1;
    }
    47.5%, 52.5% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(20px);
    }
  }
  
  /* Sixth */
  .m-5::before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 10px;
    left: calc(50% - 5px);
    border: 2px solid var(--d);
  }
  
  .m-5::after {
    top: 30px;
    left: calc(50% - 5px);
    border: 5px solid transparent;
    border-top-color: var(--c);
    animation: m-5-arrow 1.2s ease-in-out infinite;
  }
  
  @keyframes m-5-arrow {
    20%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(9px);
    }
    80% {
      transform: translateY(-3px);
    }
  }
  

  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  