*{
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/*NAVIGATION SECTION -- MOBILE VIEW FIST DESIGN*/
.nav-section{
    height: 50px;
    background-color: #fff;
    position: sticky;
    top: 0%;
}
header {
    display: flex;
    width: 100%;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
    padding-left: 17px;
    padding-right: 17px;
    z-index: 1;
}
header img {
    width: 50px;
    height: 50px;
}
header .menu-bar, img, .logo {
    line-height: 50px;
}

header .logo {
    font-family: "LXGW WenKai Mono TC";
    font-size: 25px;
    color: var(--primary-color);
    font-weight: 600;
}

header .menu-bar {
    position: absolute;
    right: 20px;
    top: 5px;
}

header ul {
    top: 0;
    position: fixed;
    right: 0%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 999;
    animation: navMotion 0.5s ease;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 50%; 
    height: 50px;
    align-items: stretch;
    margin: 0;
    border: solid 1px #dadada;
    font-family: var(--font-family);
    font-size: 25px;
    font-weight: 350;
    padding: 15px;
}
header ul.show {
    display: flex; /* Change display property to show the menu */
  }
  
header ul li a{
    display: block;
    widows: 100%;
    padding: 10px 10px 10px 10px;
    color: #222;
    text-align: left;
    &:hover {
        background-color: rgba(0, 0, 0, 0.25);
    }
}

.auth-links {
    display: none;
}

.closebar {
    display: block;
}
.dropdown-auth-links {
    display: show;
  }

@keyframes navMotion {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes moveMotion {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

/*MAIN CONTAINER MOBILE VIEW END*/

@media screen and (min-width: 900px) {

    header img {
        width: 50px;
        height: 50px;
    }
    header .menu-bar {
        right: 30px;
    }
    
    header ul {
        top: 0;
        left: 22.5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        line-height: 10px;
        align-items: stretch;
        margin: 0;
        border: none;
        font-family: var(--font-family);
        font-size: 18px;
        font-weight: 300;
        padding: 15px;
        }

    .menu-bar {
        display: none;
    } 
    .closebar {
        display: none;
    }
    .auth-links {
        display: flex; 
        position: absolute;
        right: 20px;
        margin-top: 10px;
    }
    .auth-links a {
        border: none;
        margin-right: 10px;
        border-radius: 4px;
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: 400;
        color: #111;
        background-color: var(--primary-color);
        padding: 8px;
    } 

    .auth-links a span {
        padding: 10px;
    } 
    .auth-links a:hover {
        background-color: rgba(0, 0, 0, 0.25);
        color: var(--primary-color);
    }
      .auth-links a:last-child {
        margin-right: 0;
      }
      .dropdown-auth-links {
        display: none;
      }
}

/*NAVIGATION SECTION*/



.branding{
    flex: 0.25;
    margin-left: 20px;
}
.menu-items{
    flex: 0.5;
} .account-options{
    flex: 0.25;
    margin-left: 20px;
}
.branding img{
    height: 50px;
    width: 50px;
}
.branding span{
    position: absolute;
    top: 18%;
    font-size: 30px;
    font-weight: 600;
}
.menu-items ul{
    display: flex;
    flex-direction: row;
    line-height: 30px;
}
.menu-items ul li{
    padding: 10px;
}
.account-options ul{
    display: flex;
    flex-direction: row;
    line-height: 20px;
}
.account-options ul li{
    padding: 15px;
}
/*End of NavBar*/
.flex{
    display: flex;
    flex-direction: row;
    max-width: calc(100vw - 10px);
    max-height: calc(100vh-50px);
}

.flex1{
    max-height: calc(100vh - 50px);
}
.flex1{
    background-color: azure;
    flex: 0 0 19%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: calc(100vh - 50px);
    max-width: 18vw;
    overflow: hidden;
}
.upload-area, .data-list-area{
    width: 100%;
}
.upload-area{
    flex: 0.3;
    background-color: cadetblue;
    padding: 10px;
}
.data-list-area{
    flex: 0.7;
    background-color:coral ;
    padding: 20px;
    max-height: 65vh;
    flex-grow: 1;
}


/*Messanger Area*/
.messaging-area{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    right: 5px;
    width: 20%;
    height: 70vh;
    opacity: 80%;
}
.close-open-area{
    flex: 0.02;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: solid 1px #111;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.message-form {
    display: none;
    flex: 0.98;
    background-color: brown;
}
.close-open-area span{
    flex: 0.92;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}
.close-open-area img{
    flex: 0.08;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.message-form form{
    display: flex;/*originally display is set to flex*/
    flex-direction: column;
    margin: 10px;
}
.message-form input{
    padding: 5px;
}
.message-form .name-input, .email-input{
    border-radius: 4px;
    border: none;
}
.message-form form .name-input, .email-input{
    height: 30px;
}
.message-form .message-input{
    height: 200px;
}

.message-form .send-message-button{
    height: 37px;
    display: flex;
    flex-direction: row;
    border: solid 1px #111;
    justify-content: space-between;
}
.message-form .send-text{
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}
.message-form .send-text span{
    line-height: 37px;
}
.message-form button{
    line-height: 37px;
    height: 35px;
    border: none;
}

/*Messanger Area Styles End*/



/*Upload Table Area*/
.upload-form {
    display: flex;
    flex-direction: row;
    padding-right: 15px;
}
.upload-form form input{
    width: 100%;
    height: 20px;
    border-radius: 4px;
    border: none;
    margin: 8px;
    outline: none;
}

/*Upload Table Area*/


/*Table List Area*/
.table-list{
    width: 100%;
    height: 90%;
    border: 1px solid #000;
    flex-shrink: 0;
    overflow: hidden;
}
.table-list ul{
    max-height: 100%;
    overflow: auto;
}
.data-list-area ul li{
    padding: 3px;
}
/*Table List Area End*/

/*Data Preview Area*/
.flex2{
    flex: 1;
    max-height: calc(100vh - 80px);
    max-width: 81vw;
}
.preview-area{
    background-color: aqua;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.search-area, .data-area, .uploader-area{
    min-width: calc(80vw - 10px);
}
.uploader-area{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #fff;
    flex: 0.1;
    padding: 10px;
    height: 40px;
}
.uploader-area span{
    padding: 10px;
}

.user-profile-picture{
    border: 1px solid black;
    border-radius: 50%;
    height: 37px;
    width: 37px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-profile-picture img{
    max-width: 100%;
    max-height: 100%;
}
.search-area{
    background-color: blueviolet;
    flex: 0.1;
    padding: 5px;
    min-height: 40px;
    width: 100%;
}
.search-area form input{
    height: 30px;
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 4px;
}


.data-area {
    background-color: brown;
    flex: 0.8; /* Adjust flex basis as needed */
    max-height: calc(100vh - 150px); /* Example height calculation */
    width: calc(100vh - 100px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative; 
    overflow: auto;
}

.data-area table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    border-radius: 4px;
    table-layout: fixed;
    max-height: 100%; /* Limit table height to parent's height */
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* Prevent text wrapping */
    width: 11vw; /* Set cell width to 11vw */
}

.table thead {
    font-family: "Catamaran";
    font-size: 14px;
    font-weight: 800;
    background-color: #f2f2f2; /* Background color for table header */
}

.table tbody {
    font-family: "Catamaran";
    font-size: 14px;
    font-weight: 400;
}

/*Data Preview Area End*/

/*Data Analysis Section*/
.data-analysis-section{
    width: calc(100vw - 30px);
    height: calc(100vh - 50px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.data-characteristics {
    width: 50vw;
    background-color: antiquewhite;
}
.data-graph, .data-characteristics{
    padding: 10px;
}
.data-visuals{
    width: 50vw;
    background-color: forestgreen;
}
.visuals-text{
    background-color: #dadada;
    height: 30px;
    width:calc(100% - 20px);
    padding: 10px;
    margin: 0 auto;
}
.visuals-text span{
    
}

/*Data Analysis Section*/